body, html {
    background-color: lightblue;
    align-items: center;     
    display: flex;     
    height: 100%;
    justify-content: center;     
    margin: 0
  }
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
