body, html {
    background-color: rgb(48, 48, 48);
    align-items: center;     
    display: flex;     
    height: 100%;
    justify-content: center;     
    margin: 0
  }
@font-face {
    font-family: "Cute";
    src: url('fonts/cute.ttf') format('ttf');
    color:rgb(65, 65, 65);
    font-weight: bold;
}
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: 'Cute';
    font-size: 20px;
  }
button {
    font-family: 'BalooTammudu2-ExtraBold';
    font-weight: normal;
    font-style: normal;
    background-color: #7289da;
    border-radius: 14px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 67px;	
}
